	<!-- about -->
<div class="about">
    <div class="container">
        <div class="w3l-about-heading">
            <h2>Top Tours</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta efficitur ante quis volutpat.</p>
        </div>
        <div class="about-grids">
            <div class="col-md-3 about-grid">
                <div class="about-grid-info effect-1">
                    <h4>San Francisco</h4>
                </div>
            </div>
            <div class="col-md-3 about-grid">
                <div class="about-grid-info about-grid-info1 effect-1">
                    <h4>Maldives</h4>
                </div>
            </div>
            <div class="col-md-3 about-grid">
                <div class="about-grid-info about-grid-info2 effect-1">
                    <h4>Ireland</h4>
                </div>
            </div>
            <div class="col-md-3 about-grid">
                <div class="about-grid-info about-grid-info3 effect-1">
                    <h4>New Zealand</h4>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->