	<!-- offer -->
<div class="offer">
    <div class="container">
        <div class="wthree-offer-grid">
            <h4>Today Best offers</h4>
            <p>Sed vitae purus ut libero malesuada molestie imperdiet a nibh. Etiam consectetur odio a massa vulputate porttitor. Quisque nibh orci, vestibulum sed gravida vel, eleifend nec libero. </p>
            <div class="click-button">
                <a href="single.html">Click Here</a>
            </div>
        </div>
    </div>
</div>
<!-- //offer -->