<!-- team -->
<div class="team">
    <div class="container">
        <div class="agileinfo-team-heading">
            <h3>Our Team</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta efficitur ante quis volutpat.</p>
        </div>
        <div class="team-grids">
            <div class="col-md-3 agileinfo-team-grid">
                <img src="~/Assets/Images/t1.jpg" alt="" />
                <div class="captn">
                    <h4>Mary Jane</h4>
                    <p>Vestibulum </p>
                    <div class="w3l-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 agileinfo-team-grid">
                <img src="~/Assets/Images/t2.jpg" alt="" />
                <div class="captn">
                    <h4>Peter Parker</h4>
                    <p>Aliquam non</p>
                    <div class="w3l-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 agileinfo-team-grid">
                <img src="~/Assets/Images/t3.jpg" alt="" />
                <div class="captn">
                    <h4>Johan Botha</h4>
                    <p>Nulla molestie</p>
                    <div class="w3l-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 agileinfo-team-grid">
                <img src="~/Assets/Images/t4.jpg" alt="" />
                <div class="captn">
                    <h4>Steven Wilson</h4>
                    <p>Quisque vitae</p>
                    <div class="w3l-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //team -->