<!-- a-about -->
<div class="a-grid">
    <div class="container">
        <div class="w3l-about-heading">
            <h2>Our Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta efficitur ante quis volutpat.</p>
        </div>
        <div class="agileits-services-grids">
            <div class="col-md-6 w3l-services-grid">
                <div class="services-grid-info">
                    <h4>Maecenas aliquam</h4>
                    <p>Maecenas volutpat cursus commodo. Nunc consectetur ligula eget leo accumsan, non lobortis mi varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque vitae fringilla nulla.</p>
                </div>
                <div class="services-grid-info">
                    <h4>Nulla molestie</h4>
                    <p>Maecenas aliquam nec arcu at efficitur. Praesent cursus aliquam erat a commodo. Nulla molestie nulla et dolor commodo pharetra. Praesent sit amet est arcu. Cras vehicula mauris id vestibulum semper. </p>
                </div>
                <div class="services-grid-info">
                    <h4>Donec dictum</h4>
                    <p>Donec augue ante, cursus et dapibus ac, tristique vel tellus. Praesent massa diam, gravida sit amet hendrerit a, auctor a dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae gravida leo, eu maximus dui. </p>
                </div>
            </div>
            <div class="col-md-6 w3l-services-grid">
                <div class="services-grid-info">
                    <h4>Scelerisque </h4>
                    <p>Maecenas volutpat cursus commodo. Nunc consectetur ligula eget leo accumsan, non lobortis mi varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque vitae fringilla nulla.</p>
                </div>
                <div class="services-grid-info">
                    <h4>Duis accumsan</h4>
                    <p>Maecenas aliquam nec arcu at efficitur. Praesent cursus aliquam erat a commodo. Nulla molestie nulla et dolor commodo pharetra. Praesent sit amet est arcu. Cras vehicula mauris id vestibulum semper. </p>
                </div>
                <div class="services-grid-info">
                    <h4>Sed lobortis</h4>
                    <p>Donec augue ante, cursus et dapibus ac, tristique vel tellus. Praesent massa diam, gravida sit amet hendrerit a, auctor a dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae gravida leo, eu maximus dui. </p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //a-about -->
<!-- different -->
<div class="jarallax more-offer">
    <div class="container">
        <div class="w3-different-heading">
            <h3>Special Features</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta efficitur ante quis volutpat.</p>
        </div>
        <div class="w3agile-different-info">
            <p>Cras vehicula massa id ipsum venenatis, non convallis libero pellentesque. Sed tristique massa et mattis mattis. Nunc euismod consequat ex, eu tincidunt justo malesuada vitae. Sed auctor diam quis nulla hendrerit porta. Quisque venenatis, tortor quis tristique congue, lorem lectus elementum augue, in laoreet lorem justo lacinia velit. Phasellus tempus luctus velit, eu fermentum arcu porttitor sit amet. Suspendisse id efficitur sem. Donec laoreet ante at facilisis dictum. Donec sodales porta orci sed porta. Vivamus est enim, pharetra sit amet placerat ut, eleifend quis purus. Sed elementum tortor erat, placerat rutrum augue facilisis vel. Morbi feugiat tortor erat, nec gravida mauris egestas tincidunt. Sed vitae dignissim sapien.</p>
        </div>
    </div>
</div>
<script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
</script>
<!-- //different -->
<!-- team -->
<div class="more-bottom">
    <div class="container">
        <div class="more-bottom-heading">
            <h3>Offered Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta efficitur ante quis volutpat.</p>
        </div>
        <div class="more-bottom-grids">
            <div class="col-md-4 more-bottom-grid">
                <div class="more-bottom-grid-info">
                    <div class="more-bottom-grid-img">
                        <img src="~/Assets/Images//s1.jpg" alt="" />
                    </div>
                    <div class="more-bottom-grid-text">
                        <h5>Nullam tincidunt sed augue at sodales. Ut dignissim ipsum dolor</h5>
                        <p>Etiam mollis sem mi, sit amet tincidunt sem euismod ut. Donec dictum nisi sit amet ex volutpat interdum. Duis accumsan tellus urna, eget tincidunt purus vehicula ornare. Curabitur sed erat lacus. Sed vitae congue nisi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 more-bottom-grid">
                <div class="more-bottom-grid-info">
                    <div class="more-bottom-grid-img">
                        <img src="~/Assets/Images//s2.jpg" alt="" />
                    </div>
                    <div class="more-bottom-grid-text">
                        <h5>Nullam tincidunt sed augue at sodales. Ut dignissim ipsum dolor</h5>
                        <p>Etiam mollis sem mi, sit amet tincidunt sem euismod ut. Donec dictum nisi sit amet ex volutpat interdum. Duis accumsan tellus urna, eget tincidunt purus vehicula ornare. Curabitur sed erat lacus. Sed vitae congue nisi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 more-bottom-grid">
                <div class="more-bottom-grid-info">
                    <div class="more-bottom-grid-img">
                        <img src="~/Assets/Images//s3.jpg" alt="" />
                    </div>
                    <div class="more-bottom-grid-text">
                        <h5>Nullam tincidunt sed augue at sodales. Ut dignissim ipsum dolor</h5>
                        <p>Etiam mollis sem mi, sit amet tincidunt sem euismod ut. Donec dictum nisi sit amet ex volutpat interdum. Duis accumsan tellus urna, eget tincidunt purus vehicula ornare. Curabitur sed erat lacus. Sed vitae congue nisi.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //team -->